:root {
    --bg: #90b7df;
    --card: #f1f6ea;
    --text: #222;
    --primary: #4f46e5;
}

body.dark {
    --bg: #1f2933;
    --card: #2d3748;
    --text: #e5e7eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    font-size: large;
}

body {
    background: var(--bg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
}

/* App */
.app {
    width: 800px;
    background: var(--card);
    padding: 150px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 30px;
    border-radius: 14px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

/* Input */
.task-input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 5px;
    margin: 15px 0;
}

.task-input input,
.task-input select {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.task-input button {
    background: var(--primary);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 14px;
    width: 100px;
    border-radius: 6px;
    cursor: pointer;
}

/* Filters */
.filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.filters button {
    border: solid 1px #ccc;
    background: #e5e7eb;
    padding: 6px 12px;
    border-radius: 300px;
    cursor: pointer;
}

/* Tasks */
ul {
    list-style: none;
}

li {
    background: #dfd7a2;
    padding: 40px;
    margin-bottom: 10px;
    border-radius: 8px;
}

li.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.task-top {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.meta {
    font-size: 12px;
    color: #555;
}

.actions button {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 8px;
}
